* {
	margin: 0;
	padding: 0;
	font-family: 'Fjalla One', sans-serif;
}

.clearfix {
    overflow: auto;
}


/*////////////////////////////////////////*/
/*///////Top Navigation///////////////////*/
/*////////////////////////////////////////*/
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(224,54,40, 0.5);
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 2;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/*////////////////////////////////////////*/
/*//////////////// Home //////////////////*/
/*////////////////////////////////////////*/
body {
	background: url(images/gretchenStreet.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	z-index: 1;
	height: 900px;
	padding-top: 600px;
}

.landing p {
	background-color: rgba(224,54,40, 0.82);
	float: left;
	margin-bottom: 30%;
	margin-left: 7%;
	width: 50%;
	text-align: center;
	font-size: 90px;
	color: white;
	text-shadow: 3px 3px #820d05;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.mainBackground {
	width: 100%;
	height: auto;
}

/*////////////////////////////////////////*/
/*/////////// About Me ///////////////////*/
/*////////////////////////////////////////*/
.gretchenCliff {
	width: 45%;
	height: auto;
	border-radius: 1%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	border: 1px solid #820d05;
}

.aboutMeSection {
	background-color: rgba(224,54,40, 0.9);
	width: 55%;
	margin-bottom: 20%;
	margin-left: 3%;
	float: left;
}

.aboutMeDescription {
	text-align: center;
	font-size: 20px;
	letter-spacing: .5px;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 4%;
	margin-right: 4%;
	color: white;
}

.social {
	margin-bottom: 5%;
}

.linkedin {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/*////////////////////////////////////////*/
/*//////////// Contact ///////////////////*/
/*////////////////////////////////////////*/
.contactSection {
	background-color: rgba(224,54,40, 0.9);
	width: 55%;
	margin-top: 10%;
	margin-bottom: 3%;
	margin-left: 3%;
}

.contactTitle {
	text-align: center;
	font-size: 40px;
	margin-top: 5%;
	color: white;
	text-shadow: 2px 2px #820d05;
}

.contactDetails {
	margin: 0 0 0px 0px;
	text-align: center;
	font-size: 20px;
	color: white;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
	font-size: 20px;
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}

label {
	font-size: 20px;
}



